body{
    margin: 0;
    padding: 0;
}

.box {
    width: 100%;
    height: 879px;
    position: relative;
    background: url(imgs/1.png) no-repeat;
}

.start {
    width: 400px;
    height: 200px;
    background-color: cadetblue;
    cursor: pointer;
    position: absolute;
    top:300px;
    left: 750px;
    box-shadow: 5px 5px 5px rgb(75, 124, 126);
}

.start span {
    font-size: 40px;
    line-height: 200px;
    text-align: center;
    margin-left: 115px;
    cursor: pointer;
    font-weight: 700;
}

.grade {
    width: 150px;
    height: 100px;
    background-color: cornflowerblue;
    position: absolute;
    bottom: 20px;
    right: 400px;
    font-weight: 700;
    display: none;
    box-shadow: 5px 5px 5px rgb(50, 74, 119);
}

.grade span {
    font-size: 20px;
    position: absolute;
    left: 50px;
    top: 10px;
}

.life {
    width: 150px;
    height: 100px;
    background-color: darkcyan;
    position: absolute;
    bottom: 20px;
    right: 200px;
    font-weight: 700;
    display: none;
    box-shadow: 5px 5px 5px rgb(1, 61, 61);
}

.life span {
    font-size: 20px;
    position: absolute;
    left: 40px;
    top: 10px;
}

.grades,.lifes {
    width: 50px;
    height: 30px;
    margin-top:50px;
    margin-left: 40px;
    font-size: 20px;
}

.stop {
    width: 100px;
    height: 50px;
    background-color: #ff0036;
    color: #fff;
    position: absolute;
    right: 30px;
    top: 20px;
    display: none;
    cursor: pointer;
    box-shadow: 5px 5px 5px #9c0223;
}

.stop span {
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    margin-left: 10px;
}

.menu {
    width: 500px;
    height: 300px;
    background-color: rgb(22, 82, 110);
    position: absolute;
    left: 700px;
    top: 250px;
    display: none;
    z-index: 100;
    box-shadow: 5px 5px 5px rgb(22, 82, 110);
}

.score span {
    font-size: 25px;
    color: #fff;
    margin-left:120px;
    position: absolute;
    top:20px
}

.score-now {
    width: 100px;
    height: 50px;
    font-size: 25px;
    color: #fff;
    position: absolute;
    top:20px;
    left:250px;
}

.back ,.next,.continue{
    width: 100px;
    height: 100px;
    color: #fff;
    background-color: rgb(20, 102, 139);
    float: left;
    margin-top: 100px;
    margin-left: 50px;
    cursor: pointer;
}

.back span,.next span,.continue span {
    font-size: 20px;
    line-height: 100px;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 700;
}

.restart {
    width: 400px;
    height: 50px;
    color: #fff;
    background-color: rgb(20, 102, 139);
    float: left;
    margin-top: 30px;
    margin-left: 50px;
    cursor: pointer;
}

.restart span{
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    margin-left: 160px;
    cursor: pointer;
    font-weight: 700;
}

.defeat {
    width: 500px;
    height: 300px;
    background-color: rgb(22, 82, 110);
    position: absolute;
    left: 700px;
    top: 250px;
    display: none;
    z-index: 100;
    box-shadow: 5px 5px 5px rgb(22, 82, 110);
}

.defeat-text {
    font-size: 30px;
    color: #fff;
    margin-top: 30px;
    margin-left:120px;
}

.defeat-score span{
    font-size: 25px;
    color: #fff;
    margin-left:150px;
    position: absolute;
    top:80px;
}

.d-score {
    width: 100px;
    height: 40px;
    font-size: 25px;
    color: #fff;
    position: absolute;
    top:80px;
    left:270px;
}

.defeat-restart{
    width: 200px;
    height: 100px;
    color: #fff;
    background-color: rgb(20, 102, 139);
    float: left;
    margin-top: 60px;
    margin-left: 150px;
    cursor: pointer;
}

.defeat-restart span{
    font-size: 20px;
    line-height: 100px;
    text-align: center;
    margin-left: 60px;
    cursor: pointer;
    font-weight: 700;
}

.first {
    width: 500px;
    height: 300px;
    background-color: rgb(22, 82, 110);
    position: absolute;
    left: 700px;
    top: 250px;
    display: none;
    z-index: 100;
    box-shadow: 5px 5px 5px rgb(22, 82, 110);
}

.first-text{
    font-size: 30px;
    color: #fff;
    margin-top: 30px;
    margin-left:120px;
}

.first-restart,.first-next{
    width: 100px;
    height: 100px;
    color: #fff;
    background-color: rgb(20, 102, 139);
    float: left;
    margin-top: 50px;
    margin-left: 100px;
    cursor: pointer;
}

.first-restart span,.first-next span{
    font-size: 20px;
    line-height: 100px;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 700;
}

.last {
    width: 500px;
    height: 300px;
    background-color: rgb(22, 82, 110);
    position: absolute;
    left: 700px;
    top: 250px;
    display: none;
    z-index: 100;
    box-shadow: 5px 5px 5px rgb(22, 82, 110);
}

.last-text {
    font-size: 30px;
    color: #fff;
    margin-top: 30px;
    margin-left:120px;
}

.last-back,.last-restart {
    width: 100px;
    height: 100px;
    color: #fff;
    background-color: rgb(20, 102, 139);
    float: left;
    margin-top: 50px;
    margin-left: 100px;
    cursor: pointer;
}

.last-back span,.last-restart span {
    font-size: 20px;
    line-height: 100px;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 700;
}